@media (max-width: 640px) {
	
	/* HEADER */

	.header {
		background-image: url(/img/banner-mobile.jpg);
		height: 640px;
		width: 100%;
	}
	.header__conteiner {
		width: 100%;
		margin-bottom: 40px;
		box-sizing: border-box;
		justify-content: center;
	}
	.header__logo-link {
		margin-top: 210px;
		margin-right: 6px;
	}
	.header-logo {
		width: 270px;
	}
	.menu-list {
		display: none;
	}

	/* BURGER */

	.burger {
		top: -120px;
		display: flex;
		width: 30px;
		height: 30px;
		position: relative;
		z-index:2;
		overflow: hidden;
		cursor: pointer;
	}
	.burger__item {
		width: 30px;
		height: 3px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #fff;
		transition: all 0.5s;
	}
	.bitem2 {
		top: calc(50% - 10px);
	}
	.bitem3 {
		top: calc(50% + 10px);
	}
	.header__intro {
		padding: 0 40px 0 40px;
	}
	.header__intro-title {
		font-size: 26px;
	}

	/* TRENDS */

	.trends__wrp {
		flex-wrap: wrap;
	}
	.trends__post {
		width: 100%;
		margin-bottom: 3px;
		margin-right: 0;
	}
	.trends__name {
		font-size: 16px;
	}

	/* CONTENT */

	.content {
		padding: 0 35px;
		flex-wrap: wrap;
	}
	.main {
		width: 100%;
	}
	.main__wrp {
		display: block;
		width: 100%;
	}
	.post {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.post__preview {
		width: 100%;
	}
	.post__preview-image {
		width: 100%;
		object-fit: fill;
	}
	.post__content {
		width: 100%;
	}
	.aside__content {
		width: 100%;
	}
	.search {
		display: block;
	}
	.search__field {
		width: 80%;
		float: left;
	}
	.search__btn {
		width: 20%;
	}

	/* EXAMPLES */
	
	.shop__examples {
		width: 100%;
		padding: 0 57px;
	}
	.examples__wrp {
		flex-wrap: wrap;
	}
	.exm1, .exm2 {
		margin-bottom: 26px;
	}
	.examples__post {
		margin-right: 0;
		width: 100%;
		padding: 0 10px 0;
	}
	.examples__image {
		width: 100%;
	}
	.examples__last {
		margin-top: 29px;
	}
}